.title{
	color: yellow;
}
.content .little{
	background-color: #fede01;
	color:pink;
	font-size:30px;
}
.content h2{
	color: purple;
}
.content ul{
	color:blue;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size:60px;
}
.step{
	color: orange;
	background-image: url(../image/IMG_6768.JPG)
}